---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import fetchApi from "@lib/strapi";
import type Article from "@interfaces/article";
import rehypeStringify from "rehype-stringify";
import remarkParse from "remark-parse";
import remarkRehype from "remark-rehype";
import { unified } from "unified";

export const prerender = false;

const { slug } = Astro.url.pathname.match(/\/blog\/(?<slug>[^/]+)/)?.groups ?? {
  slug: "",
};

async function fetchPostData(slug) {
  const response = await fetchApi<Article[]>({
    endpoint: "posts",
    query: {
      "filters[slug]": slug,
      populate: "*",
    },
    wrappedByKey: "data",
    wrappedByList: false,
  });
  return response[0];
}

const postData = await fetchPostData(slug);
const processor = unified()
  .use(remarkParse)
  .use(remarkRehype, { allowDangerousHtml: true })
  .use(rehypeStringify);

const content = String(await processor.process(postData.content));
---


<Layout title={postData.title}>
  <Container>
    <div class="mx-auto max-w-3xl mt-14">
      <span class="text-blue-400 uppercase tracking-wider text-sm font-medium">
        {postData.category.Name}
      </span>
      <h1
        class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight">
        {postData.title}
      </h1>
      <div class="flex gap-2 mt-3 items-center flex-wrap md:flex-nowrap">
        <span class="text-gray-400">
          {postData.author.Name}
        </span>
        <span class="text-gray-400">•</span>
        <time class="text-gray-400" datetime={postData.publishDate}>
          {postData.publishDate}
        </time>
        <span class="text-gray-400 hidden md:block">•</span>
      </div>
    </div>
    <div class="mt-12">
      <div class="prose max-w-none" set:html={content} />
    </div>

    <div class="text-center mt-8">
      <a
        href="/blog"
        class="bg-gray-100 px-5 py-3 rounded-md hover:bg-gray-200 transition"
        >← Back to Blog</a
      >
    </div>
  </Container>
</Layout>
